body {
    margin: auto;
    max-height: 100vh;
    max-width: 1440px;
    background-color: hsl(36, 100%, 99%);
}

#Content {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

#Menu {
    display: flex;
    padding-bottom: 2em;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
}

#Menu img {
    align-self: center;
}

#Menu #Options {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    margin-right: 0;
}

#btnMenu {
    display: none;
}

#btnClose {
    display: none;
}

#Menu #Options li a {
    display: flex;
    color: grey;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
    transition: .7s;
    margin: 0.5vw 1vw 0.5vw 1vw;
    position: relative;
}

#Menu #Options li a::after {
    content: " ";
    margin-top: 5px;
    width: 0%;
    height: 2px;
    background-color: hsl(5, 85%, 63%);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: ease-in-out .3s;
}


#Menu #Options li a:hover {
    content: " ";
    transform: scale(1.1);
    color: hsl(5, 85%, 63%);
}

#Menu #Options li a:hover::after {
    width: 100%;
}

#principalContent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    max-width: 100%;
    height: 35vw;
    margin-bottom: 4em;
}

#Img {
    display: grid;
    padding-right: 2em;
    max-width: 65%;
    height: 35vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 5% 25% 10%;
}

#Img img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    grid-column: 1/3;
    grid-row: 1/2;
}

#bright {
    max-width: 80%;
    max-height: 100%;
    font-family: arial;
    font-weight: bolder;
    font-size: 3.9vw;
    line-height: 95%;
    grid-column: 1/2;
    grid-row: 3/5;
    margin: 0;
    align-self: center;
    justify-self: left;
}

#dive {
    color: rgb(110, 110, 110);
    font-family: tahoma;
    font-size: 1.15vw;
    letter-spacing: .03em;
    line-height: 150%;
    max-width: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 0;
}

#ReadMore {
    font-family: arial;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: bolder;
    border: 2px solid hsl(5, 85%, 63%);
    border-radius: 4px;
    background-color: hsl(5, 85%, 63%);
    color: white;
    margin: 0 10vw 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    grid-column: 2/3;
    grid-row: 4/5;
    transition: .5s;
    letter-spacing: .2em;
}

#ReadMore:hover {
    background-color: hsl(240, 100%, 5%);
    border-color: hsl(240, 100%, 5%);
    letter-spacing: .3em;
}

#Articles_1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 3px;
    background-color: hsl(240, 100%, 5%);
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    width: 55%;
    height: auto;
}

#Articles_1_Title {
    display: flex;
    flex-basis: 10%;
    font-family: arial;
    font-size: 2.2vw;
    font-weight: bold;
    color: hsl(35, 77%, 62%);
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.Articles_1_Content {
    background-color: hsl(240, 100%, 5%);
    color: white;
}


#Articles_1_Mid {
    border-bottom: .5px solid rgb(92, 90, 90);
    border-top: .5px solid rgb(92, 90, 90);
    padding-top: 0.8em;
}

.Articles_1_Content h3 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.Articles_1_Name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
    font-weight: bold;
    color: hsl(36, 100%, 99%);
    transition: .3s;
    text-decoration: none;
}

.Articles_1_Name:hover {
    color: hsl(35, 77%, 62%);
}

.Articles_1_Text {
    font-family: arial;
    font-size: 1vw;
    line-height: 150%;
    letter-spacing: .1em;
    color: hsl(233deg 8% 79%);
}

#Articles_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 140px;
    padding-bottom: 2em;
}

.Articles_2_Content {
    display: grid;
    max-width: 33%;
    grid-template-columns: 25% 70%;
    grid-template-rows: 30% 30% 40%;
}

.Articles_2_Content img {
    object-fit: cover;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/4;
}

.Articles_2_Content h3 {
    display: flex;
    font-size: 2.8vw;
    font-family: arial;
    color: hsl(233, 8%, 79%);
    padding-left: 25px;
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
}

.Articles_2_Content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 25px;
    padding-top: 10px;
    margin: 0;
    font-family: tahoma;
    font-size: 1.2vw;
    color: black;
    font-weight: 900;
    transition: .3s;
}

.Articles_2_Content a:hover {
    color: hsl(5, 85%, 63%);

}

.Articles_2_Content p {
    grid-column: 2/3;
    grid-row: 3/4;
    padding-left: 25px;
    margin: 0;
    font-family: arial;
    font-size: 1vw;
    line-height: 150%;
    color: hsl(233, 8%, 50%);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1%;
}


/*                           MEDIA CHANGES - DESKTOP TO CELLPHONE                              */



@media screen and (max-width: 912px) {

    body {
        margin: auto;
        max-height: 100%;
        max-width: 1440px;
        background-color: hsl(36, 100%, 99%);
    }

    #Content {
        display: flex;
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #Menu {
        display: flex;
        padding-bottom: 3vh;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    #Menu img {
        width: 15%;
    }

    #Menu #Options {
        visibility: hidden;
        display: block;
        position: absolute;
        width: 65%;
        top: 0;
        margin: 0;
        padding-left: 1em;
        right: 0;
        background-color: hsl(36, 100%, 99%);
        height: 0;
        box-shadow: 0px 0px 0px 1000000px rgb(0 0 0 / 55%);
        transition: ease .6s;
        overflow-y: hidden;
    }

    #Option_1 {
        margin-top: 45%;
    }

    #Menu.active #Options {
        visibility: visible;
        display: block;
        height: 100vh;
    }

    #Menu #Options li {
        margin-bottom: 1.5em;
        border: none;
        background-color: hsl(36, 100%, 99%);
    }

    #Menu.active #Options #Option_1 {
        margin-top: 45%;
    }

    #Menu.active #Options li {
        margin-bottom: 4vh;
        border: none;
        background-color: hsl(36, 100%, 99%);
    }

    #btnMenu {
        display: block;
        border: none;
        background-color: hsl(36, 100%, 99%);
        scale: 1;
    }

    #btnMenu.open {
        display: none;
        border: none;
        background-color: hsl(36, 100%, 99%);
        scale: 1;
    }

    #btnClose {
        display: none;
        border: none;
        background-color: hsl(36, 100%, 99%);
        scale: 1;
    }

    #btnClose.close {
        display: block;
        border: none;
        background-color: hsl(36, 100%, 99%);
        scale: 1;
        z-index: 1001;
    }

    #Menu #Options li a {
        display: flex;
        color: black;
        text-decoration: none;
        font-size: 3.5vh;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        justify-content: space-between;
        transition: .7s;
        margin: 1vmax 0 1vmax 1vmax;
        position: relative;
    }

    #principalContent {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        max-width: 100%;
        height: auto;
        margin-bottom: 4em;
    }

    #Img {
        display: flex;
        align-self: center;
        flex-direction: column;
        padding-right: 0;
        max-width: 100%;
        height: auto;
    }

    #Img img {
        content: url("./assets/images/image-web-3-mobile.jpg");
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        margin-bottom: 1em;
    }

    #bright {
        display: flex;
        align-self: flex-start;
        max-width: 100%;
        width: 90%;
        max-height: 100%;
        font-family: arial;
        font-weight: bolder;
        font-size: calc(1em + 7vmin);
        line-height: 1;
        margin: 0 0 .5em 0;
    }

    #dive {
        color: rgb(110, 110, 110);
        font-family: tahoma;
        font-size: 2.6vh;
        letter-spacing: .03em;
        line-height: 1.3;
        max-width: 100%;
        margin-top: 0;
    }

    #ReadMore {
        font-family: arial;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.9vh;
        font-weight: bolder;
        border: 2px solid hsl(5, 85%, 63%);
        border-radius: 2px;
        background-color: hsl(5, 85%, 63%);
        color: white;
        margin: 1% 0 15% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        height: 5.5vh;
        transition: 0s;
        letter-spacing: .4em;
    }

    #ReadMore:hover {
        background-color: hsl(240, 100%, 5%);
        border-color: hsl(240, 100%, 5%);
        letter-spacing: 0;
    }

    #Articles_1 {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        border: 2px solid black;
        border-radius: 3px;
        background-color: hsl(240, 100%, 5%);
        padding-left: 3vh;
        padding-right: 3vh;
        width: auto;
        max-height: 80vh;
    }

    #Articles_1_Title {
        display: flex;
        flex-basis: 10%;
        font-family: revert;
        font-size: 5vh;
        font-weight: bold;
        color: hsl(35, 77%, 62%);
        margin: 0;
        margin-bottom: 1vh;
        padding-top: 0.5em;
    }

    .Articles_1_Content {
        background-color: hsl(240, 100%, 5%);
        color: white;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    #Articles_1_Mid {
        border-bottom: .5px solid rgb(92, 90, 90);
        border-top: .5px solid rgb(92, 90, 90);
        padding-bottom: .5em;
    }

    .Articles_1_Content h3 {
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .Articles_1_Name {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.5vh;
        font-weight: bold;
        color: hsl(36, 100%, 99%);
        transition: .3s;
        text-decoration: none;
    }

    .Articles_1_Name:hover {
        color: hsl(35, 77%, 62%);
    }

    .Articles_1_Text {
        font-family: arial;
        font-size: 1.85vh;
        line-height: 170%;
        letter-spacing: .1em;
        color: hsl(233deg 8% 79%);
    }

    #Articles_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
        max-height: 100%;
        padding-bottom: 0;
        margin: auto;
    }

    .Articles_2_Content {
        display: grid;
        max-width: 100%;
        height: auto;
        grid-template-columns: 30% 70%;
        grid-template-rows: 30% 30% 40%;
        margin-bottom: 5vh;
    }

    .Articles_2_Content img {
        object-fit: cover;
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .Articles_2_Content h3 {
        display: flex;
        font-size: 3.5vh;
        font-family: "inter";
        color: hsl(233, 8%, 79%);
        padding-left: 25px;
        margin: 0;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .Articles_2_Content a {
        display: flex;
        align-items: center;
        text-decoration: none;
        grid-column: 2/3;
        grid-row: 2/3;
        padding-left: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
        font-family: "inter";
        font-size: 2.1vmax;
        color: black;
        font-weight: 600;
        transition: .3s;
    }


    .Articles_2_Content a:hover {
        color: hsl(5, 85%, 63%);

    }

    .Articles_2_Content p {
        grid-column: 2/3;
        grid-row: 3/4;
        padding-left: 25px;
        margin: 0;
        font-family: "inter";
        font-size: 1.8vmax;
        line-height: 150%;
        color: hsl(233, 8%, 50%);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 1%;
    }
}